* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(29, 29, 29);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  overflow-x: hidden;
}

h1 {
  font-size: 5rem;
}

p {
  font-size: 1.25rem;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: lightskyblue;
  text-decoration: underline;
}

.container {
  width: 80%;
  max-width: 1800px;
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 5rem;
}

img {
  width: 100%;
}
